-r requirements-base.txt
pillow
# AMD GPU requirements (Linux with ROCm)
https://repo.radeon.com/rocm/manylinux/rocm-rel-6.4.2/torch-2.10.0.dev20260113+rocm7.2.0.lw.gitdea53f5b-cp310-cp310-linux_x86_64.whl
https://repo.radeon.com/rocm/manylinux/rocm-rel-6.4.2/torchvision-0.25.0+rocm7.2.0.gitaa35ca19-cp312-cp312-linux_x86_64.whl
https://repo.radeon.com/rocm/manylinux/rocm-rel-6.4.2/triton-3.5.1+rocm7.2.0.gita272dfa8-cp312-cp312-linux_x86_64.whl

# Common dependencies
